<!DOCTYPE html>
<html>
<head></head>
<body>
	<h2>I'm aware of your presence.</h2>

	<script type="text/javascript" src="/socket.io/socket.io.js"></script>
	<script type="text/javascript">
		var socket = io.connect('http://localhost');
		socket.on('news', function(data) {
			console.log(data);
			socket.emit('my other event', { my: 'data' });
		});
	</script>
</body>
</html>