<!DOCTYPE html>
<html>
<head></head>
<body>
	<h2>I'm aware of your presence.</h2>

	<script type="text/javascript" src="/socket.io/socket.io.js"></script>
	<script type="text/javascript">
		var socket = io.connect('http://localhost');

		document.body.onmousemove = function(e) {
			socket.emit('tracking mouse', { pageX: e.pageX, pageY: e.pageY, clientX: e.clientX, clientY: e.clientY });
		};

	</script>
</body>
</html>